# Keyboard stuff
setxkbmap pl
setxkbmap -option caps:escape
xset r rate 300 50

# Prevent screen from turning off
xset -dpms
setterm -blank 0 -powerdown 0
xset s off

# Change cursor in xmonad
xsetroot -cursor_name left_ptr

[[ -f ~/.Xresources ]] && xrdb -merge -I$HOME ~/.Xresources 
